body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f5deb3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1rem;
    font-family: 'Pacifo';
}

.hero {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #290916;
}

h2 {
    align-content: center;
    text-decoration: underline;
    text-decoration-thickness: double 2px;
}

.profile-img {
    width: 150px;
    height: 200px;
    border-radius: 10%;
    margin-right: 20px;
}

.hero-text h1 {
    font-size: 2rem;
    margin: 0;
    color: #f5f5dc;
    font-family: 'Times New Roman', Times, serif
}

h3 {
    color: #d2691e;
}

.about {
    padding: 10px;
    background-color: chocolate;
    color: black;
    text-align: center;
}

.portfolio {
    padding: 10px;
    background-color: chocolate;
    color: black;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.portfolio .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
}

.talent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skills, .experience {
    color: #f5f5dc;
    padding: 10px;
    background: #290916;
    border: #d2691e;
    border-radius: 10px;
}

.project {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    text-align: center;
}

.about:hover {
    transform: scale(1.05);
    background-color: #f5f5dc;
}

.project:hover, .skills:hover, .experience:hover {
    transform: scale(1.05);
    border: #f5f5dc;
    background-color: #d2691e;
    font-weight: 600;
    color: #333;
}

.project img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.project a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #290916;
    margin-top: 10px;
    font-size: 18px;
}

.project p {
    font-size: 14px;
    color: #333;
    padding: 0 10px;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background: #290916;
    color: #f5f5dc;
}

section {
    padding: 80px 20px;
    margin-top: 60px;
  }


@media only screen and (max-width:700px) {
    body{
        width: 100%;
        padding: 0;
    }
    .portfolio .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .talent {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width:500px) {
    .portfolio .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}